<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<div class="parent">
    <div class="head-title">
        <h1><span class="c">Curriculum</span> Vitae</h1></div>
    <div class="header">
        <div class="pic"><img src="https://i.pinimg.com/564x/e0/e4/c2/e0e4c21e77128ad3cac639e307ba9678.jpg"
                              alt="" /></div>
        <div class="info">
            <div class="name">Metta Anantha</div>
            <div class="mail"><b>Email: </b>mettaanantha@gmail.com</div>
            <div class="content">
                <div class="section">
                    <h3 class="title">Personal details</h3>
                    <div class="item">
                        <dl>
                            <dt>Birth Date</dt>
                            <dd>25 September 1998</dd>
                            <dt>Address</dt>
                            <dd>Pahlawan Street, Bogor</dd>
                        </dl>
                    </div>
                </div>
                <div class="section">
                    <h3 class="title">Education</h3>
                    <div class="item">
                        <dl>
                            <dt>2016 - Now</dt>
                            <dd> Faculty of Computer Science, University of Indonesia</dd>
                            <dt>2013 - 2016</dt>
                            <dd>SMA Negeri 1 Bogor</dd>
                            <dt>2010 - 2013</dt>
                            <dd>SMP Negeri 1 Bogor</dd>
                            <dt>2004 - 2010</dt>
                            <dd>SD Mardi Waluya Bogor</dd>
                        </dl>
                    </div>
                </div>
                <div class="section">
                    <h3 class="title">Social</h3>
                    <div class="item">
                        <dl>
                            <dt>Twitter</dt>
                            <dd><a href="https://twitter.com/mettaanantha">@mettaanantha</a></dd>
                            <dt>Facebook</dt>
                            <dd><a href="https://www.facebook.com/metta.pindika">https://www.facebook.com/metta.pindika</a></dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <html/>